.tetromino-preview {
  position: relative;
  display: inline-block;
}

.preview-block {
  border-radius: 2px;
  box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

